@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap');

body {
    background-color: #ebebe1;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    color: #1A211C
}

#content {
    margin: auto;
    width: 1200px;
}

#home {
    max-height: 70px;
    display: flex;
    padding: 20px;
    margin-bottom: 80px;
    /* background-color: lightgreen; */
}

.nav {
    text-decoration: none;
    color: #1A211C;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-right: 100px;
}

.nav:hover {
    color: #B71D36;
}

#avatar {
    display: flex;
    max-height: 430px;
    margin-left: 40px;
    padding-right: 300px;
    
}

#menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 20px;
}

#about {
    color: #8d8d87;
}

#about:hover {
    color:#B71D36
}


h1 {
    font-size: 100px;
    margin-top: -40px;
    padding-left: 50px;
    margin-bottom: 0px
    /* background-color: yellow; */
}

p {
    padding-left:50px;
}

footer {
    display: block;
    font-size: 20px;
    color: #B71D36;
    margin-left: -25px;
    padding-bottom: -20px;
    margin-top: 360px;
}

@media screen and (max-width: 1200px) {
    #content {
        margin: auto;
        width: 800px;
    }
    .nav{
        font-size: 25px;
    }

    #avatar{
        max-height: 350px;
    }
}

@media screen and (max-width: 800px) {
    #content {
        margin: auto;
        width: 600px;
    }

    #home{
        max-height: 40px;
    }

    .nav{
        margin-right: 220px;
        margin-bottom: 40px;
    }

    #avatar{
        max-height: 200px;
        padding-right: 100px;
        margin-left: 60px;
    }
    
    h1 {
        font-size: 10vw;
    }

    p{
        font-size: 3vw;
    }
}

@media  screen and (max-width: 700px) {
    p{
        padding: 10px;
        width: 70%;
    }
}