/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ebebe1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #1A211C;
    min-height: 100vh;
    
}

Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 140px;
    font-weight: 700;
    margin: 100px 0px 0px;
}

h2 {
    font-size: 30px;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #B71D36;
    min-height: fit-content;
    margin: -40px 0px;
}

#menu {
    margin: 50px 0px;
    text-align: center;
}

a {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #211B20;
    margin: 20px;
    padding: 0px 0px;
    
    /* background color used to see box */
    /* background: lightgreen; */
    
}

a:hover {
    color: #B71D36;
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 9px;
}

#avatar {
    display: flex;
    justify-content: center;
    
    
}

img {
    max-height: 600px;

    margin: 0px 0px 0px;
}

footer {
    font-size: 20px;
    color: #B71D36;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    
}

@media screen and (max-width: 900px)  {
    h1{
        font-size: 15.5vw;
    }
    h2{
        /* color: blue; */
        font-size: 3vw
    }
    a{
        font-size: 20px;
    }
    a:hover {
        color: #B71D36;
        font-weight: 900;
        font-size: 22px;
        margin-bottom: 9px;
    }
    img{
        max-height: 60vw;
    }
}

@media  screen and (max-width: 700px) {
    h2{
        /* color: green; */
        margin: -20px;
    }
    a{
        font-size: 2vw;
    }
    a:hover {
        color: #B71D36;
        font-weight: 900;
        margin-bottom: 9px;
        font-size: 2vw;
        }
}