/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap');

body {
    background-color: #ebebe1;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    color: #1A211C;
    
}

Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 140px;
    font-weight: 700;
    /* background color used to see box */
    /* background-color: lightblue; */
    margin: 100px 0px 0px;
}

h2 {
    font-size: 30px;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #B71D36;
    min-height: fit-content;
    /* background color used to see box */
    /* background-color: pink; */
    margin: -40px 0px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    /* background-color: powderblue; */
}

a {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #211B20;
    margin: 20px;
    
    /* background color used to see box */
    /* background: lightgreen; */
    
}

a:hover {
    color: #B71D36;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 9px;
}

#avatar {
    display: flex;
    justify-content: center;
    
    
}

img {
    max-height: 600px;

    margin: 0px 0px 0px;
}

footer {
    font-size: 20px;
    color: #B71D36;
    padding-left: 20px;
    padding-bottom: -20px;
    margin-top: 450px;
}
